NEXT_PUBLIC_SITE_URL=https://www.online2day.com
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
HUBSPOT_ACCESS_TOKEN=
HUBSPOT_OWNER_EMAIL=
HUBSPOT_DEAL_PIPELINE=default
HUBSPOT_NEW_ENQUIRY_STAGE=appointmentscheduled
RESEND_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_LAUNCH_MONTHLY=
STRIPE_PRICE_LAUNCH_ANNUAL=
STRIPE_PRICE_LAUNCH_SETUP=
STRIPE_PRICE_GROWTH_MONTHLY=
STRIPE_PRICE_GROWTH_ANNUAL=
STRIPE_PRICE_GROWTH_SETUP=
